<template name="header">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor route='landingPage'}}">Beaut</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{pathFor route='providers'}}">Search</a>
                    </li>
                    {{#if currentUser}}
                    <li>
                        <a href="{{pathFor route='appointments'}}">My Bookings</a>
                    </li>
                    {{/if}}
                    <li>
                        {{#if currentUser}}
                    <a id="logout" class="login-link-text">Logout {{userName}}</a>        
<!--                    {{currentUser.profile.name}} - Logout-->
                        
                    {{else}}
                        <a id="facebook-login" class="login-link-text">Sign in ▾</a>    
                    
                    {{/if}}
                    </li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

</template>