<template name="providerDetails">
   
    {{#with provider}}
    <div class="row">
            <div class="col-lg-4">
                
                <h1 class="page-header">{{name}}
                   
                </h1>
               
            </div>
         
        

            <div class="col-md-8 col-md-offset-2">

                <div class="thumbnail">
                    <img class="img-responsive" src="{{profilePic}}" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right">$24.99</h4>
                        <h4><a href="#">Product Name</a>
                        </h4>
                        <h4><a  href="{{pathFor route='calendar'}}" class="btn btn-primary">Book</a>
                        </h4>
                        
                           
                    </div>
                    <div class="ratings">
                        <p class="pull-right">{{comments.length}} reviews </p>
                        <p>
                            {{#if checkAvg 1}}
                            <span class="glyphicon glyphicon-star"></span>
                            {{else}}
                            <span class="glyphicon glyphicon-star-empty"></span>
                             {{/if}}
                            
                            {{#if checkAvg 2}}
                            <span class="glyphicon glyphicon-star"></span>
                            {{else}}
                            <span class="glyphicon glyphicon-star-empty"></span>
                             {{/if}}
                            
                            
                            {{#if checkAvg 3}}
                            <span class="glyphicon glyphicon-star"></span>
                            {{else}}
                            <span class="glyphicon glyphicon-star-empty"></span>
                             {{/if}}
                            
                            {{#if checkAvg 4}}
                            <span class="glyphicon glyphicon-star"></span>
                            {{else}}
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {{/if}}
                            
                            {{#if checkAvg 5}}
                            <span class="glyphicon glyphicon-star"></span>
                            {{else}}
                            <span class="glyphicon glyphicon-star-empty"></span>
                             {{/if}}
                            
                        </p>
                    </div>
                </div>

<!--
                <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Thumbnail Gallery</h1>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            
                </div>
-->
                
                
                {{>map}}
                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success" href="{{pathFor route='review'}}">Leave a Review</a>
                    </div>

                    <br/>
                    {{#each comments}}
                    <div class="row">
                        <div class="col-md-12">
                            {{#if stars.[0]  }}
                            <span class="glyphicon glyphicon-star"></span>
                            {{else }}
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {{/if}}
                            
                            {{#if stars.[1] }}
                            <span class="glyphicon glyphicon-star"></span>
                            {{else }}
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {{/if}}
                            
                            
                            {{#if stars.[2] }}
                            <span class="glyphicon glyphicon-star"></span>
                            {{else }}
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {{/if}}
                            
                            {{#if stars.[3] }}
                            <span class="glyphicon glyphicon-star"></span>
                            {{else }}
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {{/if}}
                            
                            {{#if stars.[4] }}
                            <span class="glyphicon glyphicon-star"></span>
                            {{else }}
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {{/if}}
                            {{customerName}}
                            <span class="pull-right">{{date}}</span>
                            <p>{{text}}</p>
                        </div>
                    </div>

                    
                    {{/each}}

                    
                </div>

            </div>

        </div>

    {{/with}}
</template>


<template name="map">  
  <div class="map-container">
    {{> googleMap name="map" options=mapOptions}}
  </div>
</template>  